.header-content {
  margin: 0 8rem 6rem 8rem;
}

.header-content_div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.header-content_text,
.header-image {
  grid-row: 1 / 2;
}

.header-content_dots {
  grid-column: 2 / -1;
}

.header-content_dots img {
  position: absolute;
  width: 116px;
  height: auto;
  top: -15%;
  left: 35%;
}

.header-content_text {
  flex: 1;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  grid-column: 1 / 4;
  align-self: center;
  min-height: 60%;
  width: 90%;
  padding: 4rem 4rem 4rem 10rem;
  -webkit-animation: slide-in-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.header-content_text-description {
  padding-left: 5rem;
}

.header-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  grid-column: 2 / -1;
  padding-right: 10rem;
}

.scroll-div {
  position: relative;
  right: -2%;
}

.header-image-div {
  position: absolute;
  width: 124px;
  height: 124px;
  bottom: -4%;
  right: 10%;
  background: rgba(76, 194, 184, 0.7);
  backdrop-filter: blur(50px);
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-image img {
  width: 80%;
  height: auto;
}

.header-content h1 {
  flex: 1;
  font-family: var(--header-font-family);
  font-weight: 800;
  font-size: 52px;
  letter-spacing: -0.03em;
  color: var(--color-teal-main);
}

.header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: var(--color-brown-main);
  margin-top: 3.5rem;
}

.header-content p:last-child {
  margin-top: 0.85rem;
}

@media screen and (max-width: 1640px) {
  .header-content {
    margin-left: 0;
  }

  .header-content_text p {
    margin-right: 4rem;
  }

  .header-content_text {
    transform: scale(0.8);
    grid-column: 1 / 5;
    width: 70%;
  }

  .header-image {
    grid-column: 1 / -1;
    padding: 0;
  }

  .header-content_dots img {
    top: -10%;
    left: 20%;
  }
}

@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column;
    padding: 0;
  }

  .header-content {
    margin: 0 0 4rem 0;
  }

  .header-content_text {
    transform: scale(0.7);
    text-align: center;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    height: max-content;
  }

  .header-content_text p {
    transform: scale(0.95);
    margin: 0 auto !important;
  }

  .header-image {
    display: flex;
    justify-content: center;
  }

  .header-image img {
    width: 100%;
    height: auto;
  }

  .scroll-div {
    right: 5%;
  }

  .header-content_dots img {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .header-content_text {
    transform: scale(0.6);
    padding: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .header-content h1 {
    font-size: 42px;
    line-height: 50px;
  }

  .header-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .header-image img {
    width: 100%;
    height: auto;
  }

  .scroll-div {
    right: 2%;
    bottom: -5%;
  }

  .header-image-div {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 510px) {
  .header-content_text {
    padding: 1rem;
  }

  .header-content h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .header-content p {
    font-size: 12px;
    line-height: 24px;
  }

  .header-image img {
    width: 100%;
    height: 100%;
  }

  .header-image-div {
    transform: scale(0.5);
  }
}

@media screen and (max-width: 390px) {
  .header-content_text {
    padding: 1.5rem;
    height: 90%;
    width: 70%;
  }

  .header-content h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .header-content p {
    font-size: 12px;
    line-height: 20px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .header-image img {
    width: 100%;
    height: auto;
  }

  .header-image-div {
    transform: scale(0.5);
  }

  .scroll-div {
    right: 0%;
    bottom: -15%;
  }

  .about-container_groupA,
  .about-container_groupB {
    margin: 3rem auto;
  }
}

@media screen and (max-width: 320px) {
  .header-content_text {
    transform: scale(0.6);
    padding: 1.5rem;
  }

  .scroll-div {
    right: 5%;
    bottom: -10%;
  }
}

