.about {
  display: flex;
  flex-direction: column;
  padding: 6rem 8rem;
}

.about-container {
  padding: 0rem 3rem;
}

.about-heading_container {
  background: rgba(177, 104, 52, 0.175);
  border-radius: 5px;
  padding: 5rem 2rem;
}

.about-content_container {
  padding: 2rem 5rem;
}

.about-heading_container,
.about-content_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.about-heading_container button {
  width: 165px;
  height: 54px;
  background: #f4f6f6;
  box-shadow: 0px 100px 80px rgba(36, 77, 77, 0.1),
    0px 64.8148px 46.8519px rgba(36, 77, 77, 0.0759259),
    0px 38.5185px 25.4815px rgba(36, 77, 77, 0.0607407),
    0px 20px 13px rgba(36, 77, 77, 0.05),
    0px 8.14815px 6.51852px rgba(36, 77, 77, 0.0392593),
    0px 1.85185px 3.14815px rgba(36, 77, 77, 0.0240741);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #5f5f64;
  font-family: var(--font-family);
  letter-spacing: 0.03em;
  margin-right: 3rem;
  cursor: pointer;
}

.about-heading_container button:hover {
  background: rgba(76, 194, 184, 0.7);
  color: white;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.about-heading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.about-heading h1 {
  color: var(--color-heading);
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  font-family: var(--header-font-family);
  margin-bottom: 0.5rem;
}

.about-heading p {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 32px;
  color: #5f5f64;
  margin-top: 1rem;
  width: 70%;
}

.about-heading-title {
  font-family: 'Product Sans Bold';
  margin-top: 0.5rem;
}

.about-container_groupA {
  flex: 1;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-container_groupA div {
  width: 273px;
  height: 188px;
}

.about-container_groupA span {
  font-size: 58px;
  font-family: 'Product Sans Medium';
  color: #244d4d;
}

.about-container_groupA p {
  font-size: 24px;
  font-family: 'Product Sans Medium';
  color: #244d4d;
  margin: 1rem 0;
}

.about-container_groupA p:last-child {
  font-family: 'Product Sans';
  font-size: 16px;
  line-height: 24px;
  color: #64717c;
}

.about-container_groupB {
  display: flex;
  justify-content: center;
  width: 50%;
}

.about-container_groupB img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-container_groupB-horz {
  width: 250px;
  height: 210px;
  margin: 1rem auto;
}

.about-container_groupB-vert {
  width: 100%;
  height: 270px;
  margin: 1rem auto;
}

.column1,
.column2 {
  width: 250px;
  margin: 0.5rem;
}

.column1 {
  margin-top: 6rem;
}

@media screen and (max-width: 1535px) {

  .about-container_groupA,
  .about-container_groupB {
    width: 100%;
  }

  .about-container_groupA div {
    width: 235px;
    height: 162px;
  }

  .about-container_groupA span {
    font-size: 42px;
  }

  .about-container_groupA p {
    font-size: 20px;
    margin: 0.5rem 0;
  }

  .about-container_groupA p:last-child {
    font-size: 14px;
  }

  .about-container_groupB-horz {
    width: 235px;
    height: 141px;
  }

  .about-container_groupB-vert {
    width: 235px;
    height: 258px;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 3rem 5rem;
  }

  .about-heading p {
    width: 90%;
  }

  .about-container_groupA,
  .about-container_groupB {
    margin-top: 1.5rem;
    text-align: center;
    align-items: center;
  }

  .about-container_groupA div {
    margin: 0 auto;
  }

  .column1 {
    margin: 0;
  }

  .about-container_groupB-horz,
  .about-container_groupB-vert {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 768px) {

  .about-container {
    padding: 4rem 2rem;
  }

  .about-container_groupA {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-heading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-heading_container button {
    margin: 0;
  }

  .about-heading {
    margin-bottom: 2rem;
    text-align: center;
    align-items: center;
  }

  .about-heading p {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  .about {
    padding: 0;
  }

  .about-container_groupA {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container_groupB-horz {
    width: 150px;
    height: 104px;
    margin: 0.5rem auto;
  }

  .about-container_groupB-vert {
    width: 150px;
    height: 165px;
    margin: 0.5rem auto;
  }

  .about-heading p {
    font-size: 14px;
  }

  .about-container_groupA div {
    width: 200px;
    height: 138px;
    margin: 0 auto;
    text-align: center;
  }

  .about-container_groupA span {
    font-size: 32px;
  }

  .about-container_groupA p {
    font-size: 18px;
    margin: 0.25rem 0;
  }

  .about-container_groupA p:last-child {
    font-size: 14px;
    line-height: 24px;
  }
}