.work {
  padding: 3rem 10rem;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 33%;
  padding: 0.5rem;
}

.project-div {
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
}

.project-div:hover {
  cursor: pointer;
}

.project-div .project-div-overlay {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.project-div:hover .project-div-overlay {
  opacity: 1;
}

.project-div-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.project-div-details {
  color: #fff;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.project-div:hover .project-div-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.project-div h2 {
  font-weight: 800;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0.25rem 0 0.5rem 0.25rem;
  text-align: center;
}

.project-div-details h3 {
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 1.2em;
}

.project-div-details h6 {
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-size: 0.8em;
}

.project-div-details p {
  font-size: 1.2em;
  letter-spacing: 0.15em;
  font-weight: 800;
  margin-left: 0.25rem;
}

.fadeIn-top {
  top: 20%;
}

.wp__cc-header {
  height: 500px;
}

.wp__gtb-header {
  height: 650px;
}

.wp__gpt-header {
  height: 350px;
}

.wp__better-header {
  height: 400px;
}

.wp__mint-header {
  height: 400px;
}

.wp__ck-header {
  height: 325px;
}