* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  letter-spacing: 0.045em;
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-top {
  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}


@font-face {
  font-family: 'Product Sans';
  src: url('./assets/fonts/ProductSans-Light.woff2') format('woff2'),
    url('./assets/fonts/ProductSans-Light.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans Medium';
  src: url('./assets/fonts/ProductSans-Medium.woff2') format('woff2'),
    url('./assets/fonts/ProductSans-Medium.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url('./assets/fonts/ProductSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/ProductSans-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Noto+Serif+Display:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --header-font-family: 'Noto Serif Display', serif;
  --text-font-family: 'Product Sans', sans-serif;
  --text-medium-font-family: 'Product Sans Medium', sans-serif;
  --text-bold-font-family: 'Product Sans Bold', sans-serif;

  --gradient-bar: linear-gradient(121deg, #75a5a5 19%, #e38d51 100%);

  --color-grey-hover: #4A4A4A;
  --color-grey-tabs: #A9A7A6;
  --color-grey-main: #5F5F64;
  --color-grey-border: #E6E6E6;
  --color-grey-background: #F5F7F7;

  --color-teal-main: #244D4D;
  --color-teal-icons: #2B7272;
  --color-teal-subtext: #36A8A8;
  
  --color-brown-main: #94603B;
  --color-brown-icons: #D6C4B8;
  --color-brown-background: #F1E4DB;
}